ext
etc
logs
tmp

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore osX specific files 
.DS_Store
.idea
gitPush

