userdata.php
drush-dump-db.sh
dashboard.php

ext
etc
logs
tmp
.DS_Store
.sass-cache
gitPush
merge_file*

# ignore transaltion template files
potx.*
*.pot

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private


#Ignore osX specific files 
.DS_Store
.idea/
gitPush
__MACOSX/
.idea/workspace.xml

*/.sass-cache/*
sites/all/themes/zwerm/.sass-cache/

#Caching-related
apc.php
