/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* line 140, ../../sass/_base.scss */
.color-dc6058 {
  background-color: #DC6058;
}

@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/*
 * Center the page.
 */
/* line 46, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
  by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 66, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (max-width: 629px) {
  /* line 84, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    height: 100%;
  }
  /* line 91, ../../sass/layouts/responsive-sidebars.scss */
  #main #content {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 94, ../../sass/layouts/responsive-sidebars.scss */
  #main #logo {
    display: none;
  }

  /* line 100, ../../sass/layouts/responsive-sidebars.scss */
  table {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 107, ../../sass/layouts/responsive-sidebars.scss */
  .messages {
    clear: right;
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    display: block;
  }

  /* line 116, ../../sass/layouts/responsive-sidebars.scss */
  #navigation .not-front-page {
    display: none;
  }

  /* line 122, ../../sass/layouts/responsive-sidebars.scss */
  .logged-in #footer {
    display: none;
  }
}
@media all and (min-width: 630px) {
  /*
  * Use 5 grid columns for larger screens.
  */
  /*
  * The layout when there is only one sidebar, the left one.
  */
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    /* Span 3 columns, starting in 2nd column from left. */
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 145, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    /* Span 5 columns, starting in 2nd column from left. */
    background-color: #eeeeee;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 155, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    float: right;
    width: 60%;
    margin-right: 20%;
    margin-left: -80%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 162, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
  }

  /* line 170, ../../sass/layouts/responsive-sidebars.scss */
  #footer .logged-in {
    display: none;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
