/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/*
 * Center the page.
 */
/* line 44, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 64, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (max-width: 629px) {
  /* line 82, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    /* Span 1 columns, starting in 4nd column from left. */
    /*@include zen-grid-item(2, 1);
    @include zen-clear();
    #logo {
      display:inline-block;
    } */
  }

  /* line 98, ../../sass/layouts/responsive-sidebars.scss */
  #main #logo {
    display: none;
  }

  /* line 103, ../../sass/layouts/responsive-sidebars.scss */
  table {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }

  /* line 112, ../../sass/layouts/responsive-sidebars.scss */
  #navigation .not-front-page {
    display: none;
  }
}
@media all and (min-width: 630px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 131, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    /* Span 5 columns, starting in 1st column from left. */
    display: none;
  }

  /* line 136, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    /* Span 3 columns, starting in 2nd column from left. */
    clear: left;
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }

  /* line 142, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
    height: 100%;
  }

  /* line 149, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    clear: left;
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }

  /* line 154, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 1 columns, starting in 4th column from left. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 158, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /* line 163, ../../sass/layouts/responsive-sidebars.scss */
  #footer {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
}
