@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@media all and (max-width: 629px) {
  /* line 8, ../sass/events.scss */
  body.node-type-nodetype-event #main {
    padding-left: 10px;
  }
  /* line 11, ../sass/events.scss */
  body.node-type-nodetype-event #main .openlayers-container {
    padding-right: 20px;
    padding-left: 10px;
  }
}
@media all and (min-width: 630px) {
  /* line 4, ../sass/events.scss */
  body.node-type-nodetype-event {
    background-color: #eeeeee;
  }
}
/* line 24, ../sass/events.scss */
body.node-type-nodetype-event p.submitted {
  display: none;
}
/* line 31, ../sass/events.scss */
body.node-type-nodetype-event .submitted .user-picture {
  display: none;
}
/* line 38, ../sass/events.scss */
body.node-type-nodetype-event .submitted_by .username {
  display: none;
}
/* line 44, ../sass/events.scss */
body.node-type-nodetype-event .submitted_on {
  display: none;
}
/* line 50, ../sass/events.scss */
body.node-type-nodetype-event h1 {
  font-family: "Romina";
  padding-top: 10px;
  text-align: center;
}
/* line 57, ../sass/events.scss */
body.node-type-nodetype-event .field-type-datestamp {
  text-align: center;
}
/* line 62, ../sass/events.scss */
body.node-type-nodetype-event .field-name-field-event-team {
  display: none;
}
/* line 67, ../sass/events.scss */
body.node-type-nodetype-event .field-name-field-event-address {
  font-size: x-large;
  margin-bottom: 30px;
  line-height: 1.5em;
}
/* line 75, ../sass/events.scss */
body.node-type-nodetype-event .field-name-field-event-date {
  margin-top: 5px;
}
/* line 85, ../sass/events.scss */
body.node-type-nodetype-event #block-views-event-content-type-map-block-1 {
  margin-bottom: 10px;
}
