@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@media all and (max-width: 629px) {
  /* line 8, ../sass/events.scss */
  body.node-type-nodetype-event #main {
    padding-left: 10px;
  }
  /* line 11, ../sass/events.scss */
  body.node-type-nodetype-event #main .openlayers-container {
    padding-right: 20px;
    padding-left: 10px;
  }
  /* line 16, ../sass/events.scss */
  body.node-type-nodetype-event #main h1 {
    background-color: #7fb083;
    font-size: 20px;
    margin-left: -10px;
    padding-top: 0px;
  }
}
@media all and (min-width: 630px) {
  /* line 4, ../sass/events.scss */
  body.node-type-nodetype-event {
    background-color: #eeeeee;
  }
}
/* line 31, ../sass/events.scss */
body.node-type-nodetype-event #dialog {
  display: none;
}
/* line 36, ../sass/events.scss */
body.node-type-nodetype-event .help {
  display: inline-block;
  float: right;
  margin-top: -39px;
  margin-right: 10px;
  background-color: white;
  width: 26px;
  margin-top: -51px;
  margin-right: 0px;
}
/* line 140, ../sass/_custom.scss */
body.node-type-nodetype-event .help a {
  color: black;
  margin-left: 9px;
  margin-top: 10px;
}
/* line 43, ../sass/events.scss */
body.node-type-nodetype-event p.submitted {
  display: none;
}
/* line 50, ../sass/events.scss */
body.node-type-nodetype-event .submitted .user-picture {
  display: none;
}
/* line 57, ../sass/events.scss */
body.node-type-nodetype-event .submitted_by .username {
  display: none;
}
/* line 63, ../sass/events.scss */
body.node-type-nodetype-event .submitted_on {
  display: none;
}
/* line 69, ../sass/events.scss */
body.node-type-nodetype-event h1 {
  font-family: "Romina";
  padding-top: 10px;
  text-align: center;
}
/* line 76, ../sass/events.scss */
body.node-type-nodetype-event .field-type-datestamp {
  font-size: 14px;
}
/* line 82, ../sass/events.scss */
body.node-type-nodetype-event .field-name-field-event-team {
  display: none;
}
/* line 87, ../sass/events.scss */
body.node-type-nodetype-event .field-name-field-event-address {
  font-size: x-large;
  margin-bottom: 30px;
  line-height: 1.5em;
}
/* line 95, ../sass/events.scss */
body.node-type-nodetype-event .field-name-field-event-date {
  margin-top: 5px;
}
/* line 105, ../sass/events.scss */
body.node-type-nodetype-event #block-views-event-content-type-map-block-1 {
  margin-bottom: 10px;
}
