@media all and (max-width: 629px) {
  /* line 140, /Users/wvdbosch/Dropbox/Development/PHPStorm/smartip/sites/all/themes/zwerm/sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, /Users/wvdbosch/Dropbox/Development/PHPStorm/smartip/sites/all/themes/zwerm/sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/* line 4, ../sass/frontpage.scss */
.page-frontpage {
  background-color: #eeeeee;
}
/* line 7, ../sass/frontpage.scss */
.page-frontpage .views-field-title {
  font-family: "Romina";
  text-align: center;
}
@media all and (max-width: 629px) {
  /* line 4, ../sass/frontpage.scss */
  .page-frontpage {
    background-color: #79b1bd;
  }
  /* line 17, ../sass/frontpage.scss */
  .page-frontpage .views-row {
    display: none;
  }
}
