/**
 * @file
 * Geochallenges related styling
 */
/* line 140, ../sass/_base.scss */
.color-dc6058 {
  background-color: #DC6058;
}

@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 9, ../sass/geochallenges.scss */
.page-node.node-type-geo-challenge .page-node.node-type-geo-challenge #page-title {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
/* line 14, ../sass/geochallenges.scss */
.page-node.node-type-geo-challenge .page-node.node-type-geo-challenge .node-geo-challenge {
  margin: -10px 0 0 0;
  padding: 0 0 0 0;
}
/* line 19, ../sass/geochallenges.scss */
.page-node.node-type-geo-challenge #edit-submit {
  background-color: #7fb083;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 2px 0 30px 0;
  font-family: Romina;
  font-size: 1.4em;
}

/* line 29, ../sass/geochallenges.scss */
.node-type-geo-challenge .field-name-field-description {
  text-align: center;
}

/* line 33, ../sass/geochallenges.scss */
.node-type-geo-challenge .node-geo-challenge {
  margin: 0 0 0 0;
}

/* line 37, ../sass/geochallenges.scss */
.geochallenge-subtitle {
  text-align: center;
  font-family: Romina;
  font-size: 1.5em;
  margin: 5px 0 20px 0;
}

/* line 44, ../sass/geochallenges.scss */
.field-name-field-description {
  font-size: 1.2em;
}

/* line 48, ../sass/geochallenges.scss */
.node-type-geo-challenge .view-poi-per-challenge {
  margin: 0 0 0 0;
}

/* line 52, ../sass/geochallenges.scss */
.geochallenge-details {
  margin: 20px 0 0 0;
  padding: 10px 10px 10px 10px;
  background-color: #484848;
  font-size: 0.8em;
  color: #ffffff;
  line-height: 1.4em;
  display: none;
}

/* line 62, ../sass/geochallenges.scss */
.geochallenge-add-poi-instructions {
  margin: 2px 0 0 0;
  padding: 15px 10px 5px 10px;
  background-color: #484848;
  font-size: 0.8em;
  color: #ffffff;
  line-height: 1.4em;
  display: none;
}
/* line 71, ../sass/geochallenges.scss */
.geochallenge-add-poi-instructions p {
  margin: 0 0 10px 0;
}
/* line 75, ../sass/geochallenges.scss */
.geochallenge-add-poi-instructions .control-icon {
  background-image: url("../images/openlayers-controls.png");
  background-position: -77px -1px;
  background-repeat: no-repeat;
  margin: 0 2px 0 2px;
  width: 24px;
  height: 22px;
  padding: 0 14px 7px 12px;
}

/* line 90, ../sass/geochallenges.scss */
.geochallenge-details-value {
  margin: 0 0 0 5px;
  font-weight: bold;
  font-family: Romina;
  font-size: 1.1em;
}

/* line 97, ../sass/geochallenges.scss */
.geochallenge-add-poi {
  display: none;
}

/* line 102, ../sass/geochallenges.scss */
.geochallenge-add-poi.button-pressed a {
  cursor: text;
}
/* line 104, ../sass/geochallenges.scss */
.geochallenge-add-poi.button-pressed a span {
  background-image: none;
  padding: 0 0 0 0;
}

/* line 111, ../sass/geochallenges.scss */
.geochallenge-add-poi a {
  display: block;
  background-color: #7fb083;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 2px 0 2px 0;
  font-family: Romina;
  font-size: 1.4em;
}
/* line 120, ../sass/geochallenges.scss */
.geochallenge-add-poi a span {
  background-image: url("../images/expand_icon.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0 0 0 26px;
}

/* line 128, ../sass/geochallenges.scss */
#block-formblock-poi {
  margin-top: -24px;
}

@media all and (max-width: 629px) {
  /* line 135, ../sass/geochallenges.scss */
  #main {
    min-height: 460px;
  }
}
/* line 140, ../sass/geochallenges.scss */
.geofield-help {
  display: none;
}
