@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 4, ../sass/login.scss */
.page-user {
  background-color: #333333;
  background-image: url(../images/zwerm_logo.png);
  background-repeat: no-repeat;
}
/* line 10, ../sass/login.scss */
.page-user h1, .page-user .form-required, .page-user .description {
  display: none;
}
/* line 17, ../sass/login.scss */
.page-user #user-login .form-item-name {
  position: relative;
}
/* line 20, ../sass/login.scss */
.page-user #user-login .form-item-name label {
  position: absolute;
  top: 1px;
  left: 9px;
  color: #aaa;
}
/* line 28, ../sass/login.scss */
.page-user #user-login .form-item-pass {
  position: relative;
}
/* line 31, ../sass/login.scss */
.page-user #user-login .form-item-pass label {
  position: absolute;
  top: 1px;
  left: 9px;
  color: #aaa;
}
/* line 40, ../sass/login.scss */
.page-user #edit-submit {
  background-color: #7fb083;
  color: white;
  border-radius: 4px;
}
