@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/* line 4, ../sass/messages.scss */
body.section-messages {
  background-color: #eeeeee;
}
/* line 8, ../sass/messages.scss */
body.section-messages .privatemsg-message-actions.links.inline {
  display: none;
}
/* line 13, ../sass/messages.scss */
body.section-messages .privatemsg-message-column {
  width: 95%;
  padding-right: 5px;
}
/* line 20, ../sass/messages.scss */
body.section-messages #edit-cancel {
  display: none;
}

/* line 30, ../sass/messages.scss */
.page-messages table {
  margin-bottom: 30px;
}
/* line 34, ../sass/messages.scss */
.page-messages #main {
  background-color: #eeeeee;
}
/* line 39, ../sass/messages.scss */
.page-messages h1 {
  display: none;
}
/* line 46, ../sass/messages.scss */
.page-messages .action-links li {
  list-style-type: none;
}
/* line 50, ../sass/messages.scss */
.page-messages .action-links a {
  color: red;
  margin-left: -28px;
}
/* line 60, ../sass/messages.scss */
.page-messages th a, .page-messages td a {
  color: black;
}
/* line 66, ../sass/messages.scss */
.page-messages tr.odd, .page-messages tr.even {
  background-color: #eeeeee;
}
/* line 74, ../sass/messages.scss */
.page-messages #content .tabs li:nth-child(3), .page-messages #content .tabs li:nth-child(4), .page-messages #content .tabs li:nth-child(5) {
  display: none;
}
/* line 80, ../sass/messages.scss */
.page-messages .username {
  color: black;
}
/* line 85, ../sass/messages.scss */
.page-messages #edit-operation {
  display: none;
}
/* line 95, ../sass/messages.scss */
.page-messages .container-inline, .page-messages .form-type-checkbox, .page-messages .form-checkbox {
  display: none;
}
/* line 99, ../sass/messages.scss */
.page-messages .action-links {
  margin-top: 0px;
  margin-bottom: -30px;
}
/* line 104, ../sass/messages.scss */
.page-messages .privatemsg-unread td {
  font-weight: normal;
}
/* line 109, ../sass/messages.scss */
.page-messages td.privatemsg-list-subject, .page-messages td.privatemsg-list-participants {
  border-right: 1px solid #CCC;
}
/* line 115, ../sass/messages.scss */
.page-messages td.privatemsg-list-participants, .page-messages td.privatemsg-list-date {
  padding-left: 3px;
}
/* line 120, ../sass/messages.scss */
.page-messages th {
  font-size: xx-small;
}
/* line 125, ../sass/messages.scss */
.page-messages td {
  font-size: small;
}

/* line 133, ../sass/messages.scss */
.page-messages-new .description, .page-messages-new #edit-cancel {
  display: none;
}
