@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 6, ../sass/messages.scss */
.page-messages #main {
  background-color: #eeeeee;
}
/* line 11, ../sass/messages.scss */
.page-messages h1 {
  display: none;
}
/* line 18, ../sass/messages.scss */
.page-messages .action-links a {
  color: black;
  margin-left: -28px;
}
/* line 28, ../sass/messages.scss */
.page-messages th a, .page-messages td a {
  color: black;
}
/* line 34, ../sass/messages.scss */
.page-messages li:nth-child(3), .page-messages li:nth-child(4) {
  display: none;
}
