@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/* line 4, ../sass/messages.scss */
body.section-messages {
  background-color: #eeeeee;
}
/* line 8, ../sass/messages.scss */
body.section-messages .privatemsg-message-actions.links.inline {
  display: none;
}
/* line 13, ../sass/messages.scss */
body.section-messages .privatemsg-message-column {
  width: 95%;
  padding-right: 5px;
}
/* line 20, ../sass/messages.scss */
body.section-messages #edit-cancel {
  display: none;
}

/* line 30, ../sass/messages.scss */
.page-messages table {
  margin-bottom: 30px;
}
/* line 34, ../sass/messages.scss */
.page-messages #main {
  background-color: #eeeeee;
}
/* line 39, ../sass/messages.scss */
.page-messages h1 {
  display: none;
}
/* line 46, ../sass/messages.scss */
.page-messages .action-links li {
  list-style-type: none;
}
/* line 50, ../sass/messages.scss */
.page-messages .action-links a {
  background-color: #333333;
  height: 30px;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 7px;
  font-size: small;
  margin-left: -11px;
  margin-bottom: 10px;
}
/* line 62, ../sass/messages.scss */
.page-messages th a, .page-messages td a {
  color: black;
}
/* line 68, ../sass/messages.scss */
.page-messages tr.odd, .page-messages tr.even {
  background-color: #eeeeee;
}
/* line 76, ../sass/messages.scss */
.page-messages #content .tabs li:nth-child(3), .page-messages #content .tabs li:nth-child(4), .page-messages #content .tabs li:nth-child(5) {
  display: none;
}
/* line 82, ../sass/messages.scss */
.page-messages .username {
  color: black;
}
/* line 87, ../sass/messages.scss */
.page-messages #edit-operation {
  display: none;
}
/* line 97, ../sass/messages.scss */
.page-messages .container-inline, .page-messages .form-type-checkbox, .page-messages .form-checkbox {
  display: none;
}
/* line 101, ../sass/messages.scss */
.page-messages .action-links {
  margin-top: 0px;
}
/* line 106, ../sass/messages.scss */
.page-messages .privatemsg-unread td {
  font-weight: normal;
}
/* line 111, ../sass/messages.scss */
.page-messages td.privatemsg-list-subject, .page-messages td.privatemsg-list-participants {
  border-right: 1px solid #CCC;
}
/* line 117, ../sass/messages.scss */
.page-messages td.privatemsg-list-participants, .page-messages td.privatemsg-list-date {
  padding-left: 3px;
}
/* line 122, ../sass/messages.scss */
.page-messages th {
  font-size: xx-small;
}
/* line 127, ../sass/messages.scss */
.page-messages td {
  font-size: small;
}

/* line 135, ../sass/messages.scss */
.page-messages-new .description, .page-messages-new #edit-cancel {
  display: none;
}

@media all and (max-width: 629px) {
  /* line 141, ../sass/messages.scss */
  .action-links {
    margin-top: 0px;
    margin-bottom: -30px;
  }
}
