@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@media all and (min-width: 630px) {
  /* line 4, ../sass/not-checkin.scss */
  body.page-not-partner {
    background-color: #eeeeee;
  }
}
/* line 12, ../sass/not-checkin.scss */
body.page-not-partner #select_list a {
  color: black;
}
/* line 18, ../sass/not-checkin.scss */
body.page-not-partner h1 {
  color: white;
}
/* line 22, ../sass/not-checkin.scss */
body.page-not-partner #page-title {
  white-space: nowrap;
}
/* line 27, ../sass/not-checkin.scss */
body.page-not-partner #content {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 32, ../sass/not-checkin.scss */
body.page-not-partner #content #page-title {
  background-color: #333333;
  color: white;
  font-family: arial;
  font-size: x-large;
  text-align: center;
  height: 60px;
  line-height: 2.6em;
  letter-spacing: 2px;
  margin-bottom: -2px;
  line-height: 3.5em;
  text-align: center;
  font-size: large;
  padding-left: 5px;
}
/* line 42, ../sass/not-checkin.scss */
body.page-not-partner #content li {
  height: 60px;
  margin-bottom: 3px;
}
/* line 49, ../sass/not-checkin.scss */
body.page-not-partner #content li:after {
  content: ">";
  display: inline;
  float: right;
  padding-top: 17px;
  padding-right: 25px;
  font-size: large;
}
/* line 59, ../sass/not-checkin.scss */
body.page-not-partner #content a {
  color: black;
  margin-left: 25px;
  margin-top: 10px;
}
/* line 68, ../sass/not-checkin.scss */
body.page-not-partner #content #select_list ul {
  margin-top: 2px;
  white-space: nowrap;
}
/* line 73, ../sass/not-checkin.scss */
body.page-not-partner #content #select_list a {
  line-height: 3.8em;
}
/* line 79, ../sass/not-checkin.scss */
body.page-not-partner #content #main-content {
  display: none;
}
/* line 84, ../sass/not-checkin.scss */
body.page-not-partner #content #dialog {
  display: none;
}
/* line 89, ../sass/not-checkin.scss */
body.page-not-partner #content .help {
  display: inline-block;
  float: right;
  margin-top: -39px;
  margin-right: 10px;
  background-color: white;
  width: 26px;
}
/* line 140, ../sass/_custom.scss */
body.page-not-partner #content .help a {
  color: black;
  margin-left: 9px;
  margin-top: 10px;
}
