/* line 140, ../sass/_base.scss */
.color-dc6058 {
  background-color: #DC6058;
}

@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 9, ../sass/not-checkin.scss */
body.page-not-partner #select_list a {
  color: black;
}
/* line 15, ../sass/not-checkin.scss */
body.page-not-partner h1 {
  color: white;
}
/* line 22, ../sass/not-checkin.scss */
body.page-not-partner #content {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 27, ../sass/not-checkin.scss */
body.page-not-partner #content #page-title {
  background-color: #333333;
  color: white;
  font-family: arial;
  font-size: x-large;
  text-align: center;
  height: 60px;
  line-height: 2.6em;
  letter-spacing: 2px;
  margin-bottom: -2px;
  line-height: 1.5em;
  text-align: left;
  font-size: large;
  padding-left: 5px;
}
/* line 37, ../sass/not-checkin.scss */
body.page-not-partner #content li {
  height: 60px;
  margin-bottom: 3px;
}
/* line 44, ../sass/not-checkin.scss */
body.page-not-partner #content li:after {
  content: ">";
  display: inline;
  float: right;
  padding-top: 17px;
  padding-right: 25px;
  font-size: large;
}
/* line 54, ../sass/not-checkin.scss */
body.page-not-partner #content a {
  color: black;
  margin-left: 25px;
  margin-top: 10px;
}
/* line 63, ../sass/not-checkin.scss */
body.page-not-partner #content #select_list ul {
  margin-top: 2px;
  white-space: nowrap;
}
/* line 68, ../sass/not-checkin.scss */
body.page-not-partner #content #select_list a {
  line-height: 3.8em;
}
/* line 74, ../sass/not-checkin.scss */
body.page-not-partner #content #main-content {
  display: none;
}
