/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/*
 * foot
 */
/* line 19, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #79b1bd;
  height: 100%;
}

/* line 28, ../sass/pages.scss */
.js {
  height: 100%;
  width: 100%;
}

/* line 33, ../sass/pages.scss */
#page {
  display: block;
  height: 100%;
  width: 100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 44, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 48, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 62, ../sass/pages.scss */
#header {
  background-color: black;
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 20;
}
/* line 69, ../sass/pages.scss */
#header #header_align {
  padding-top: 20px;
}
/* line 73, ../sass/pages.scss */
#header #home_nav {
  float: left;
  width: 33%;
}
/* line 78, ../sass/pages.scss */
#header #home_logo {
  width: 33px;
  float: left;
  margin-top: 2px;
}
/* line 84, ../sass/pages.scss */
#header #home_text {
  color: #FFFFFF;
  float: left;
  padding-left: 10px;
}
/* line 90, ../sass/pages.scss */
#header #zwerm_logo_text {
  width: 33%;
  float: left;
}
/* line 95, ../sass/pages.scss */
#header #zwerm_logo_text img {
  height: 15px;
  margin-left: 20%;
  margin-right: 20%;
}
/* line 103, ../sass/pages.scss */
#header #menu_container {
  width: 33%;
  float: right;
}
/* line 109, ../sass/pages.scss */
#header #menu_icon {
  float: right;
  width: 20px;
  vertical-align: bottom;
  padding-left: 10px;
}
/* line 116, ../sass/pages.scss */
#header #menu_text {
  color: #FFFFFF;
  float: right;
  vertical-align: text-bottom;
}

/* line 125, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  display: block;
}

/* line 130, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  color: black;
}
/* line 137, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 143, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 150, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 155, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/* line 161, ../sass/pages.scss */
#type_page {
  height: 100%;
  background-color: white;
}

/*
 * Main (container for everything else)
 */
/* line 171, ../sass/pages.scss */
#main {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #79b1bd;
}

/*
 * Content
 */
/* line 182, ../sass/pages.scss */
#content {
  padding-top: 70px;
}

/* line 189, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 190, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 194, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 207, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 211, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 215, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 219, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 222, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 228, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 232, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 237, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 241, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 245, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 249, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 252, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 255, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 258, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 261, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 265, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 271, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 275, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 278, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 283, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 286, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Page bottom
 */
/* line 314, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * The Zwerm list style, mobile optimized
 */
/* line 322, ../sass/pages.scss */
#select_list li {
  display: block;
  height: 50px;
  border-bottom-style: solid;
  border-width: 1px;
}
/* line 328, ../sass/pages.scss */
#select_list ul {
  display: block;
  border-top-style: solid;
  border-width: 1px;
  padding: 0 0 0 0;
}
/* line 334, ../sass/pages.scss */
#select_list a {
  line-height: 3em;
}
/* line 339, ../sass/pages.scss */
#select_list a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* line 343, ../sass/pages.scss */
#select_list a:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 348, ../sass/pages.scss */
#footer {
  background-color: #333333;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

/* line 374, ../sass/pages.scss */
#block-menu-menu-footer .block-title {
  display: none;
}
/* line 377, ../sass/pages.scss */
#block-menu-menu-footer li {
  display: block;
  height: 50px;
}
/* line 381, ../sass/pages.scss */
#block-menu-menu-footer ul {
  display: block;
  border-width: 1px;
  padding: 0 0 0 0;
}
/* line 386, ../sass/pages.scss */
#block-menu-menu-footer .first {
  float: left;
}
/* line 389, ../sass/pages.scss */
#block-menu-menu-footer .last {
  float: right;
}
/* line 392, ../sass/pages.scss */
#block-menu-menu-footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 397, ../sass/pages.scss */
a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 402, ../sass/pages.scss */
.selectedItem {
  background-color: #7fb083;
}
