/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/*
 * foot
 */
/* line 21, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
}

/* line 30, ../sass/pages.scss */
.js {
  height: 100%;
}

/* line 34, ../sass/pages.scss */
#page {
  display: block;
  height: 100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 44, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 48, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 62, ../sass/pages.scss */
#header {
  background-color: black;
  position: fixed;
  height: 70px;
  width: 100%;
}
/* line 68, ../sass/pages.scss */
#header #header_align {
  padding-top: 20px;
}
/* line 72, ../sass/pages.scss */
#header #home_nav {
  float: left;
  width: 33%;
}
/* line 77, ../sass/pages.scss */
#header #home_logo {
  width: 33px;
  float: left;
  margin-top: 2px;
}
/* line 83, ../sass/pages.scss */
#header #home_text {
  color: #FFFFFF;
  float: left;
  padding-left: 10px;
}
/* line 89, ../sass/pages.scss */
#header #zwerm_logo_text {
  width: 33%;
  float: left;
}
/* line 94, ../sass/pages.scss */
#header #zwerm_logo_text img {
  height: 15px;
  margin-left: 20%;
  margin-right: 20%;
}
/* line 102, ../sass/pages.scss */
#header #menu_container {
  width: 33%;
  float: right;
}
/* line 108, ../sass/pages.scss */
#header #menu_icon {
  float: right;
  width: 20px;
  vertical-align: bottom;
  padding-left: 10px;
}
/* line 115, ../sass/pages.scss */
#header #menu_text {
  color: #FFFFFF;
  float: right;
  vertical-align: text-bottom;
}

/* line 124, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  display: block;
}

/* line 129, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  color: black;
}
/* line 136, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 142, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 149, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 154, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 162, ../sass/pages.scss */
#main {
  display: block;
  height: 100%;
  background-color: #79b1bd;
}

/*
 * Content
 */
/* line 172, ../sass/pages.scss */
#content {
  padding-top: 70px;
}

/* line 179, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 180, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 184, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 197, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 201, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 205, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 209, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 212, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 218, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 222, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 227, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 231, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 235, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 239, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 242, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 245, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 248, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 251, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 255, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 261, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 265, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 268, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 273, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 276, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Page bottom
 */
/* line 304, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * The Zwerm list style, mobile optimized
 */
/* line 312, ../sass/pages.scss */
#select_list li {
  display: block;
  height: 50px;
  border-bottom-style: solid;
  border-width: 1px;
}
/* line 318, ../sass/pages.scss */
#select_list ul {
  display: block;
  border-top-style: solid;
  border-width: 1px;
  padding: 0 0 0 0;
}
/* line 324, ../sass/pages.scss */
#select_list a {
  line-height: 3em;
}
/* line 329, ../sass/pages.scss */
#select_list a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* line 333, ../sass/pages.scss */
#select_list a:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 338, ../sass/pages.scss */
#footer {
  background-color: #333333;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

/* line 364, ../sass/pages.scss */
#block-menu-menu-footer .block-title {
  display: none;
}
/* line 367, ../sass/pages.scss */
#block-menu-menu-footer li {
  display: block;
  height: 50px;
}
/* line 371, ../sass/pages.scss */
#block-menu-menu-footer ul {
  display: block;
  border-width: 1px;
  padding: 0 0 0 0;
}
/* line 376, ../sass/pages.scss */
#block-menu-menu-footer .first {
  float: left;
}
/* line 379, ../sass/pages.scss */
#block-menu-menu-footer .last {
  float: right;
}
/* line 382, ../sass/pages.scss */
#block-menu-menu-footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 387, ../sass/pages.scss */
a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
