/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/*
 * foot
 */
/* line 19, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 27, ../sass/pages.scss */
.js {
  height: 100%;
  width: 100%;
}

/* line 32, ../sass/pages.scss */
#page {
  display: block;
  height: 100%;
  width: 100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 43, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 47, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 61, ../sass/pages.scss */
#header {
  background-color: black;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 20;
}
/* line 68, ../sass/pages.scss */
#header #header_align {
  padding-top: 10px;
}
/* line 72, ../sass/pages.scss */
#header #home_nav {
  float: left;
  width: 33%;
}
/* line 77, ../sass/pages.scss */
#header #home_logo {
  width: 33px;
  float: left;
  margin-top: 2px;
}
/* line 83, ../sass/pages.scss */
#header #home_text {
  color: #FFFFFF;
  float: left;
  padding-left: 10px;
}
/* line 89, ../sass/pages.scss */
#header #zwerm_logo_text {
  width: 33%;
  float: left;
}
/* line 94, ../sass/pages.scss */
#header #zwerm_logo_text img {
  height: 15px;
  margin-left: 20%;
  margin-right: 20%;
}
/* line 102, ../sass/pages.scss */
#header #menu_container {
  width: 33%;
  float: right;
}
/* line 108, ../sass/pages.scss */
#header #menu_icon {
  float: right;
  width: 20px;
  vertical-align: bottom;
  padding-left: 10px;
}
/* line 115, ../sass/pages.scss */
#header #menu_text {
  color: #FFFFFF;
  float: right;
  vertical-align: text-bottom;
}

/* line 124, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  display: block;
}

/* line 129, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  color: black;
}
/* line 136, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 142, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 149, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 154, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/* line 160, ../sass/pages.scss */
#type_page, #type_nodetype_event {
  height: 100%;
  background-color: #eeeeee;
}

/*
 * Main (container for everything else)
 */
/* line 170, ../sass/pages.scss */
#main {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 176, ../sass/pages.scss */
#main input {
  width: 100%;
}
/* line 181, ../sass/pages.scss */
#main h1 {
  font-family: Romina;
  text-align: center;
}

/*
 * Content
 */
/* line 192, ../sass/pages.scss */
#content {
  padding-top: 40px;
}

/* line 199, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 200, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 204, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 217, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 221, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 225, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 229, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
  display: inline-block;
}
/* line 232, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 238, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 242, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 247, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 251, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 255, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 259, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 262, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 265, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 268, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 271, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 275, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 281, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 285, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 288, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 293, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 296, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Page bottom
 */
/* line 324, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * The Zwerm list style, mobile optimized
 */
/* line 332, ../sass/pages.scss */
#select_list li {
  display: block;
  height: 50px;
  border-bottom-style: solid;
  border-width: 1px;
}
/* line 338, ../sass/pages.scss */
#select_list ul {
  display: block;
  border-top-style: solid;
  border-width: 1px;
  padding: 0 0 0 0;
}
/* line 344, ../sass/pages.scss */
#select_list a {
  line-height: 3em;
}
/* line 349, ../sass/pages.scss */
#select_list a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* line 353, ../sass/pages.scss */
#select_list a:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 358, ../sass/pages.scss */
#footer {
  background-color: #333333;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  padding-top: 10px;
}

/* line 384, ../sass/pages.scss */
tr.color79b1bd {
  background-color: #79b1bd;
}

/* line 388, ../sass/pages.scss */
tr.colordc6058 {
  background-color: #dc6058;
}

/* line 394, ../sass/pages.scss */
#block-menu-menu-footer .block-title {
  display: none;
}
/* line 397, ../sass/pages.scss */
#block-menu-menu-footer li {
  display: block;
  height: 50px;
}
/* line 401, ../sass/pages.scss */
#block-menu-menu-footer ul {
  display: block;
  border-width: 1px;
  padding: 0 0 0 0;
}
/* line 406, ../sass/pages.scss */
#block-menu-menu-footer .first {
  float: left;
}
/* line 409, ../sass/pages.scss */
#block-menu-menu-footer .last {
  float: right;
}
/* line 412, ../sass/pages.scss */
#block-menu-menu-footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 417, ../sass/pages.scss */
a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 422, ../sass/pages.scss */
.selectedItem {
  background-color: #7fb083;
}

/* line 429, ../sass/pages.scss */
#type_page h1 {
  font-family: romina;
  text-align: center;
  padding-top: 45px;
}

@media all and (max-width: 629px) {
  /* line 439, ../sass/pages.scss */
  #block-block-3 {
    display: none;
  }
}
@media all and (min-width: 630px) {
  /* line 446, ../sass/pages.scss */
  #header {
    background-image: url(../images/zwerm_logo_black_background.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    display: block;
  }

  /* line 455, ../sass/pages.scss */
  #type_page, #type_nodetype_event {
    height: 100%;
    background-color: black;
    padding-top: 40px;
  }

  /* line 464, ../sass/pages.scss */
  #home_nav, #menu_container, #menu_text, #zwerm_logo_text {
    display: none;
  }

  /* line 469, ../sass/pages.scss */
  .region-sidebar-first {
    padding-top: 40px;
  }

  /* line 474, ../sass/pages.scss */
  #footer {
    background-color: #7fb083;
    height: 160px;
  }
}
