@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

@media all and (max-width: 629px) {
  /* line 6, ../sass/play.scss */
  .page-get-points {
    background-color: #000000;
  }

  /* line 13, ../sass/play.scss */
  #content li {
    height: 60px;
    background-color: white;
    margin-bottom: 3px;
  }
}
@media all and (min-width: 630px) {
  /* line 24, ../sass/play.scss */
  .page-get-points {
    background-color: #ffffff;
  }

  /* line 31, ../sass/play.scss */
  #content li {
    height: 60px;
    background-color: white;
  }
}
/* line 44, ../sass/play.scss */
.page-get-points #page-title {
  background-color: #333333;
  color: white;
  font-family: arial;
  font-size: x-large;
  text-align: center;
  height: 60px;
  line-height: 2.6em;
  letter-spacing: 2px;
}
/* line 49, ../sass/play.scss */
.page-get-points #content {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 54, ../sass/play.scss */
.page-get-points #content ul {
  border-top-style: none;
}
/* line 59, ../sass/play.scss */
.page-get-points #content .list_header {
  padding-top: 16px;
  padding-left: 26px;
}
/* line 65, ../sass/play.scss */
.page-get-points #content li.list_header_event, .page-get-points #content li.list_header_wish, .page-get-points #content li.list_header_question {
  background-color: #7fb083;
}
/* line 70, ../sass/play.scss */
.page-get-points #content li:after {
  content: ">";
  display: inline;
  float: right;
  padding-top: 17px;
  padding-right: 25px;
  font-size: large;
}
/* line 80, ../sass/play.scss */
.page-get-points #content a {
  color: black;
  margin-left: 25px;
  margin-top: 10px;
}
/* line 89, ../sass/play.scss */
.page-get-points #content #select_list ul {
  margin-top: 2px;
  white-space: nowrap;
}
/* line 94, ../sass/play.scss */
.page-get-points #content #select_list a {
  line-height: 3.8em;
}
/* line 100, ../sass/play.scss */
.page-get-points #content #main-content {
  display: none;
}
/* line 105, ../sass/play.scss */
.page-get-points .link_truncated {
  text-overflow: ellipsis;
  display: inline-block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}
