@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@media all and (max-width: 629px) {
  /* line 6, ../sass/play.scss */
  body.page-get-points {
    background-color: #eeeeee;
  }
  /* line 10, ../sass/play.scss */
  body.page-get-points #content {
    padding-top: 0px;
  }
  /* line 13, ../sass/play.scss */
  body.page-get-points #content li {
    height: 60px;
    background-color: white;
  }
}
@media all and (min-width: 630px) {
  /* line 30, ../sass/play.scss */
  .page-get-points #main {
    background-color: black;
  }
  /* line 37, ../sass/play.scss */
  .page-get-points #content li {
    height: 60px;
    background-color: white;
  }

  /* line 45, ../sass/play.scss */
  body.page-get-points {
    background-color: #eeeeee;
  }
}
/* line 57, ../sass/play.scss */
.page-get-points #page-title {
  background-color: #333333;
  color: white;
  font-family: arial;
  font-size: x-large;
  text-align: center;
  height: 60px;
  line-height: 2.6em;
  letter-spacing: 2px;
}
/* line 62, ../sass/play.scss */
.page-get-points #content {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 67, ../sass/play.scss */
.page-get-points #content ul {
  border-top-style: none;
}
/* line 72, ../sass/play.scss */
.page-get-points #content .list_header {
  padding-top: 19px;
  padding-left: 26px;
}
/* line 78, ../sass/play.scss */
.page-get-points #content li.list_header_event, .page-get-points #content li.list_header_wish, .page-get-points #content li.list_header_question, .page-get-points #content li.list_header_geochallenge, .page-get-points #content li.list_header_poi_confirmation {
  background-color: #7fb083;
}
/* line 83, ../sass/play.scss */
.page-get-points #content li.list_header_event:after, .page-get-points #content li.list_header_wish:after, .page-get-points #content li.list_header_question:after, .page-get-points #content li.list_header_geochallenge:after, .page-get-points #content li.list_header_poi_confirmation:after {
  content: url("../images/expand_icon.png");
}
/* line 88, ../sass/play.scss */
.page-get-points #content li:after {
  content: ">";
  display: inline;
  float: right;
  padding-top: 19px;
  padding-right: 25px;
  font-size: large;
}
/* line 98, ../sass/play.scss */
.page-get-points #content a {
  color: black;
  margin-left: 25px;
  margin-top: 10px;
}
/* line 107, ../sass/play.scss */
.page-get-points #content #select_list ul {
  margin-top: 2px;
}
/* line 112, ../sass/play.scss */
.page-get-points #content #select_list a {
  line-height: 3.8em;
}
/* line 118, ../sass/play.scss */
.page-get-points #content #main-content {
  display: none;
}
/* line 123, ../sass/play.scss */
.page-get-points .link_truncated {
  text-overflow: ellipsis;
  display: inline-block;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}
/* line 128, ../sass/play.scss */
.page-get-points .time_to_end {
  background-color: white;
  border-bottom-style: solid;
  border-width: 1px;
  padding-left: 25px;
}
/* line 136, ../sass/play.scss */
.page-get-points .time_interval_label, .page-get-points .time_interval {
  display: inline;
}
