@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 6, ../sass/players-per-team.scss */
.page-team-players #page-title {
  background-color: #333333;
  color: white;
  font-family: arial;
  font-size: x-large;
  text-align: center;
  height: 60px;
  line-height: 2.6em;
  letter-spacing: 2px;
}
/* line 11, ../sass/players-per-team.scss */
.page-team-players thead {
  display: none;
}
/* line 18, ../sass/players-per-team.scss */
.page-team-players .views-field-picture img {
  height: 50px;
  display: block;
  margin-left: 5px;
}
