/* line 140, ../sass/_base.scss */
.color-dc6058 {
  background-color: #DC6058;
}

@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 6, ../sass/players-per-team.scss */
.page-team-players #page-title {
  background-color: #333333;
  color: white;
  font-family: arial;
  font-size: x-large;
  text-align: center;
  height: 60px;
  line-height: 2.6em;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
/* line 11, ../sass/players-per-team.scss */
.page-team-players thead {
  display: none;
}
/* line 16, ../sass/players-per-team.scss */
.page-team-players img {
  height: 60%;
  display: block;
  margin-left: 5px;
}
