/* line 6, ../sass/play.scss */
.page-get-points #main {
  background-color: #000000;
}
/* line 11, ../sass/play.scss */
.page-get-points #page-title {
  background-color: #333333;
  color: white;
  font-family: arial;
  font-size: large;
  height: 60px;
  padding-left: 40%;
  line-height: 3.4em;
}
/* line 22, ../sass/play.scss */
.page-get-points #content {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 27, ../sass/play.scss */
.page-get-points #content li {
  height: 60px;
  background-color: white;
  margin-bottom: 3px;
}
/* line 34, ../sass/play.scss */
.page-get-points #content li:after {
  content: ">";
  display: inline;
  float: right;
  padding-top: 17px;
  padding-right: 25px;
  font-size: large;
}
/* line 44, ../sass/play.scss */
.page-get-points #content a {
  color: black;
  margin-left: 25px;
  margin-top: 10px;
}
/* line 53, ../sass/play.scss */
.page-get-points #content #select_list ul {
  margin-top: 2px;
  white-space: nowrap;
}
/* line 58, ../sass/play.scss */
.page-get-points #content #select_list a {
  line-height: 3.8em;
}
/* line 64, ../sass/play.scss */
.page-get-points #content .selectedItem {
  background-color: #7fb083;
}
/* line 69, ../sass/play.scss */
.page-get-points #content #main-content {
  display: none;
}
