@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/* line 6, ../sass/poll.scss */
.node-type-poll .poll .vote-form .choices {
  margin: 0;
}
/* line 13, ../sass/poll.scss */
.node-type-poll .submitted .user-picture {
  display: none;
}
/* line 20, ../sass/poll.scss */
.node-type-poll .submitted_by .username {
  display: none;
}
/* line 25, ../sass/poll.scss */
.node-type-poll .submitted_on {
  display: none;
}
/* line 29, ../sass/poll.scss */
.node-type-poll #edit-comment-body {
  width: 94%;
}
/* line 39, ../sass/poll.scss */
.node-type-poll #main .form-radio {
  width: 5%;
}
/* line 43, ../sass/poll.scss */
.node-type-poll #main .form-submit {
  width: 200px;
  font-size: small;
}
/* line 48, ../sass/poll.scss */
.node-type-poll #main .field-label {
  float: left;
  font-weight: normal;
}
/* line 53, ../sass/poll.scss */
.node-type-poll #main h1 {
  font-size: 20px;
}
/* line 57, ../sass/poll.scss */
.node-type-poll #main input {
  width: 92%;
}
/* line 62, ../sass/poll.scss */
.node-type-poll .node .poll {
  margin: 2em 0;
  width: 90%;
}
/* line 66, ../sass/poll.scss */
.node-type-poll .node .poll #edit-choice {
  margin: 0 0 1.5em;
}
/* line 69, ../sass/poll.scss */
.node-type-poll .poll .vote-form {
  text-align: left;
  /* LTR */
}
/* line 72, ../sass/poll.scss */
.node-type-poll .poll .vote-form .choices {
  margin: 0;
}
/* line 75, ../sass/poll.scss */
.node-type-poll .poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  margin-right: 10px;
  float: right;
  text-align: right;
}
/* line 84, ../sass/poll.scss */
.node-type-poll .poll .text {
  clear: right;
  margin-right: 2.25em;
}
/* line 88, ../sass/poll.scss */
.node-type-poll .poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right;
  /* LTR */
  clear: both;
  margin-right: 10px;
}
/* line 95, ../sass/poll.scss */
.node-type-poll .node .poll {
  margin: 1.8em 0 0;
}
/* line 98, ../sass/poll.scss */
.node-type-poll .node .poll .text {
  margin-right: 6.75em;
}
/* line 101, ../sass/poll.scss */
.node-type-poll .node .poll #edit-choice {
  margin: 0 0 1.2em;
}
/* line 104, ../sass/poll.scss */
.node-type-poll .poll .bar .foreground {
  height: 20px;
  margin-right: 10px;
  background-color: #7fb083;
}
/* line 109, ../sass/poll.scss */
.node-type-poll #footer-wrapper .poll .bar {
  background-color: #666;
}
/* line 112, ../sass/poll.scss */
.node-type-poll #footer-wrapper .poll .bar .foreground {
  background-color: #ddd;
}
/* line 117, ../sass/poll.scss */
.node-type-poll #content .tabs, .node-type-poll .field-name-field-poll-team {
  display: none;
}
@media all and (max-width: 629px) {
  /* line 125, ../sass/poll.scss */
  .node-type-poll article {
    margin-left: 5%;
  }
}
@media all and (min-width: 630px) {
  /* line 132, ../sass/poll.scss */
  .node-type-poll .username {
    color: black;
  }
}
