@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 4, ../sass/recent-points.scss */
.page-points-in-campaign {
  background-color: #eeeeee;
}
/* line 8, ../sass/recent-points.scss */
.page-points-in-campaign #main {
  background-color: #eeeeee;
}
/* line 13, ../sass/recent-points.scss */
.page-points-in-campaign thead {
  display: none;
}
/* line 18, ../sass/recent-points.scss */
.page-points-in-campaign .views-field-points {
  font-family: Romina;
  font-size: x-large;
  padding-right: 10px;
}
/* line 26, ../sass/recent-points.scss */
.page-points-in-campaign .views-field-time-stamp, .page-points-in-campaign .views-field-description, .page-points-in-campaign .views-field-name {
  font-size: small;
  line-break: normal;
  display: block;
}
/* line 33, ../sass/recent-points.scss */
.page-points-in-campaign .views-field-name {
  display: block;
}
