@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/* line 6, ../sass/score-chart.scss */
.page-team-score-graph tspan {
  font-weight: bold;
  font-size: 11px;
}

/* line 12, ../sass/score-chart.scss */
.html.not-front.no-sidebars.page-kaart.section-kaart.page-views {
  background-color: black;
}
