/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 14, ../sass/tabs.scss */
.tabs {
  background-color: #333333;
  width: 100%;
  float: left;
  height: 60px;
  margin-top: 30px;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 0.8em;
}
/* line 27, ../sass/tabs.scss */
.tabs ul {
  width: 99%;
  height: 60px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
}
/* line 38, ../sass/tabs.scss */
.tabs li {
  font-size: small;
  background-color: #484848;
  list-style-type: none;
  display: block;
  float: left;
  height: 50px;
  width: 20%;
  margin-left: 1px;
  margin-right: 1px;
}
/* line 53, ../sass/tabs.scss */
.tabs li a {
  color: gray;
  display: block;
  text-align: center;
  width: 99%;
  padding-top: 13px;
  font-size: x-small;
}
/* line 65, ../sass/tabs.scss */
.tabs li a.active {
  color: white;
}
