/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/* line 18, ../sass/tabs.scss */
#content .tabs {
  background-color: #333333;
  width: 100%;
  float: left;
  height: 60px;
  margin-top: 0px;
  display: block;
  padding-left: 0%;
  padding-right: 0%;
  line-height: 0.8em;
}
/* line 31, ../sass/tabs.scss */
#content .tabs li {
  font-size: small;
  background-color: #484848;
  list-style-type: none;
  display: block;
  float: left;
  height: 50px;
  width: 48%;
  margin-top: 5px;
  margin-left: 1%;
  margin-right: 1%;
}
/* line 44, ../sass/tabs.scss */
#content .tabs li a {
  color: gray;
  display: block;
  text-align: center;
  width: 99%;
  padding-top: 20px;
}
/* line 54, ../sass/tabs.scss */
#content .tabs li a.active {
  color: white;
}
