@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@media all and (max-width: 481px) {
  /* line 5, ../sass/team-view.scss */
  .page-team3 .views-field-title-1 {
    font-family: Romina;
    font-size: x-large;
  }
}
@media all and (min-width: 482px) {
  /* line 13, ../sass/team-view.scss */
  .views-field-title, .views-field-title-1 {
    font-family: Romina;
    font-size: xx-large;
  }
}
@media all and (min-width: 630px) {
  /* line 23, ../sass/team-view.scss */
  .view {
    margin-bottom: 33px;
  }
}
/* line 29, ../sass/team-view.scss */
.page-team, body.page-team3 {
  background-color: #eeeeee;
}
/* line 31, ../sass/team-view.scss */
.page-team a, body.page-team3 a {
  color: #7fb083;
}
/* line 43, ../sass/team-view.scss */
.page-team .views-field-nothing, body.page-team3 .views-field-nothing {
  display: block;
}
/* line 48, ../sass/team-view.scss */
.page-team .field-name-field-team-image, body.page-team3 .field-name-field-team-image {
  display: inline;
  float: left;
  margin-right: 20px;
}
/* line 55, ../sass/team-view.scss */
.page-team .views-row, body.page-team3 .views-row {
  padding-top: 35px;
  padding-left: 25px;
}
/* line 61, ../sass/team-view.scss */
.page-team .color-79b1bd, body.page-team3 .color-79b1bd {
  background-color: #79b1bd;
  margin-top: 10px;
  display: block;
  width: 38%;
  float: left;
  border-radius: 4px;
  text-align: center;
  font-size: x-small;
  /*border-color: black;
  border-style: solid;
  border-width: 1px;*/
}
/* line 94, ../sass/_custom.scss */
.page-team .color-79b1bd a, body.page-team3 .color-79b1bd a {
  font-weight: normal;
}
/* line 67, ../sass/team-view.scss */
.page-team .color-dc6058, body.page-team3 .color-dc6058 {
  background-color: #dc6058;
  margin-top: 10px;
  display: block;
  width: 38%;
  float: left;
  border-radius: 4px;
  text-align: center;
  font-size: x-small;
  /*border-color: black;
  border-style: solid;
  border-width: 1px;*/
}
/* line 94, ../sass/_custom.scss */
.page-team .color-dc6058 a, body.page-team3 .color-dc6058 a {
  font-weight: normal;
}
/* line 73, ../sass/team-view.scss */
.page-team .points, body.page-team3 .points {
  color: #aaaaaa;
}

/* line 81, ../sass/team-view.scss */
.page-team .field-type-text-with-summary {
  padding-top: 123px;
}

/* line 89, ../sass/team-view.scss */
.page-team3 .field-type-text-with-summary {
  padding-top: 28px;
}
