@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 6, ../sass/team-score.scss */
body.page-team-score {
  background-color: #eeeeee;
}

/* line 14, ../sass/team-score.scss */
.page-team-score .view-content {
  margin-left: 20%;
  width: 100%;
}
/* line 20, ../sass/team-score.scss */
.page-team-score .views-row {
  width: 70%;
}
/* line 25, ../sass/team-score.scss */
.page-team-score .field-name-field-team-image {
  float: left;
  margin-right: 10px;
}
/* line 31, ../sass/team-score.scss */
.page-team-score .views-field.views-field-title-1 {
  padding-top: 50px;
}
/* line 36, ../sass/team-score.scss */
.page-team-score .color-79b1bd {
  color: #79b1bd;
  background-color: #eeeeee;
}
/* line 43, ../sass/team-score.scss */
.page-team-score .color-dc6058 {
  color: #dc6058;
  background-color: #eeeeee;
}
/* line 51, ../sass/team-score.scss */
.page-team-score field-title, .page-team-score .views-field-title-1 {
  font-family: Romina;
  font-size: xx-large;
  color: red;
}
/* line 58, ../sass/team-score.scss */
.page-team-score .views-row {
  display: inline-block;
}
@media all and (max-width: 629px) {
  /* line 67, ../sass/team-score.scss */
  .page-team-score field-title, .page-team-score .views-field-title-1 {
    font-size: x-large;
  }
  /* line 72, ../sass/team-score.scss */
  .page-team-score .views-row {
    width: 90%;
  }
  /* line 77, ../sass/team-score.scss */
  .page-team-score .view-content {
    margin-left: 3%;
    width: 100%;
  }
}
