@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/* line 7, ../sass/team-view.scss */
.page-team #main {
  background-color: white;
}
/* line 12, ../sass/team-view.scss */
.page-team .views-field-title {
  font-family: Romina;
  font-size: xx-large;
}
/* line 18, ../sass/team-view.scss */
.page-team .views-field-nothing {
  display: block;
}
/* line 23, ../sass/team-view.scss */
.page-team .field-name-field-team-image {
  display: inline;
  float: left;
  margin-right: 20px;
}
/* line 30, ../sass/team-view.scss */
.page-team .field-type-text-with-summary {
  padding-top: 123px;
}
/* line 35, ../sass/team-view.scss */
.page-team .views-row {
  padding-top: 35px;
  padding-left: 25px;
}
/* line 41, ../sass/team-view.scss */
.page-team .color-79b1bd {
  background-color: #79b1bd;
  margin-top: 10px;
  display: block;
  width: 50%;
  float: left;
  border-radius: 4px;
  text-align: center;
}
/* line 82, ../sass/_custom.scss */
.page-team .color-79b1bd a {
  font-weight: normal;
}
/* line 47, ../sass/team-view.scss */
.page-team .color-dc6058 {
  background-color: #dc6058;
  margin-top: 10px;
  display: block;
  width: 50%;
  float: left;
  border-radius: 4px;
  text-align: center;
}
/* line 82, ../sass/_custom.scss */
.page-team .color-dc6058 a {
  font-weight: normal;
}
