@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/* line 6, ../sass/user.scss */
.page-user .tabs, .page-user #select_list, .page-user h3, .page-user dl, .page-user #content .tabs {
  display: none;
}
/* line 12, ../sass/user.scss */
.page-user .profile a.privatemsg-send-link, .page-user .profile a.edit_account_link {
  background-color: #333333;
  height: 30px;
  color: white;
  border: 0;
  border-radius: 3px;
  font-size: small;
  padding: 7px;
}
/* line 21, ../sass/user.scss */
.page-user .edit_account {
  display: inline;
}
/* line 26, ../sass/user.scss */
.page-user .field-name-field-user-firstname, .page-user .field-name-field-user-surname, .page-user .userpoints-links {
  display: none;
}
/* line 33, ../sass/user.scss */
.page-user .comment .field-name-field-user-firstname, .page-user .comment .field-name-field-user-surname {
  display: block;
}
@media all and (min-width: 630px) {
  /* line 43, ../sass/user.scss */
  .page-user a.privatemsg-send-link, .page-user a.edit_account_link {
    color: #7fb083;
  }
}
@media all and (max-width: 629px) {
  /* line 51, ../sass/user.scss */
  .page-user a.privatemsg-send-link, .page-user a.edit_account_link {
    color: #eeeeee;
  }
  /* line 56, ../sass/user.scss */
  .page-user .edit_account {
    display: block;
    margin-top: 10px;
  }
}
/* line 63, ../sass/user.scss */
.page-user .userpoints-view.first.last {
  display: none;
}
/* line 68, ../sass/user.scss */
.page-user .user-picture {
  float: left;
  padding-right: 10px;
}
/* line 73, ../sass/user.scss */
.page-user .profile {
  margin-left: 4%;
}
/* line 81, ../sass/user.scss */
.page-user .field.field-name-field-user-firstname.field-type-text.field-label-hidden {
  float: left;
  padding-right: 4px;
}
/* line 87, ../sass/user.scss */
.page-user li {
  list-style-type: none;
}
/* line 92, ../sass/user.scss */
.page-user .item-list {
  padding-top: 25px;
  display: block;
}
/* line 98, ../sass/user.scss */
.page-user ul.userpoints-points {
  margin-left: 80px;
  margin-top: -24px;
}
