/**
 * @file
 * Views Styling
 */
@media all and (max-width: 629px) {
  /* line 140, ../sass/_base.scss */
  .color-dc6058 {
    background-color: #DC6058;
  }

  /* line 145, ../sass/_base.scss */
  .color-79b1bd {
    background-color: #79b1bd;
  }
}
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 49, ../sass/views-styles.scss */
tr.team_red {
  background-color: #dc6058;
}
/* line 53, ../sass/views-styles.scss */
tr.team_red td.loggedInUser {
  color: #dc6058;
}

/* line 59, ../sass/views-styles.scss */
tr.team_blue {
  background-color: #79b1bd;
}
/* line 63, ../sass/views-styles.scss */
tr.team_blue td.loggedInUser {
  color: #79b1bd;
}

/* line 69, ../sass/views-styles.scss */
tr.loggedInUser {
  background-color: #ffffff;
}

/* line 74, ../sass/views-styles.scss */
.view-view-team-members-of-current-user {
  display: inline-block;
}

/* line 79, ../sass/views-styles.scss */
body.section-leaderboard, body.page-team-players, .page-points-in-campaign {
  height: 100%;
  background-color: #eeeeee;
}
/* line 83, ../sass/views-styles.scss */
body.section-leaderboard #content, body.page-team-players #content, .page-points-in-campaign #content {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 89, ../sass/views-styles.scss */
body.section-leaderboard #main, body.page-team-players #main, .page-points-in-campaign #main {
  background-color: #eeeeee;
}
/* line 94, ../sass/views-styles.scss */
body.section-leaderboard table, body.page-team-players table, .page-points-in-campaign table {
  margin-top: 0px;
  width: 100%;
}
/* line 100, ../sass/views-styles.scss */
body.section-leaderboard .view, body.page-team-players .view, .page-points-in-campaign .view {
  width: 100%;
}
/* line 106, ../sass/views-styles.scss */
body.section-leaderboard tr, body.page-team-players tr, .page-points-in-campaign tr {
  height: 60px;
  color: #ffffff;
  border-bottom-width: 3px;
  border-bottom-color: #000000;
}
/* line 115, ../sass/views-styles.scss */
body.section-leaderboard td, body.page-team-players td, .page-points-in-campaign td {
  margin-bottom: 2px;
}
/* line 120, ../sass/views-styles.scss */
body.section-leaderboard .views-field-field-user-team, body.page-team-players .views-field-field-user-team, .page-points-in-campaign .views-field-field-user-team {
  display: none;
}
/* line 125, ../sass/views-styles.scss */
body.section-leaderboard .views-field-name, body.page-team-players .views-field-name, .page-points-in-campaign .views-field-name {
  display: none;
}
/* line 130, ../sass/views-styles.scss */
body.section-leaderboard .views-field-php, body.page-team-players .views-field-php, .page-points-in-campaign .views-field-php {
  font-family: Romina;
  font-size: x-large;
  padding-left: 10px;
}
/* line 137, ../sass/views-styles.scss */
body.section-leaderboard .leaderboard_separator, body.page-team-players .leaderboard_separator, .page-points-in-campaign .leaderboard_separator {
  height: 10px;
  background-color: black;
}
/* line 142, ../sass/views-styles.scss */
body.section-leaderboard .leaderboard_separator td, body.page-team-players .leaderboard_separator td, .page-points-in-campaign .leaderboard_separator td {
  width: 100%;
  height: 10px;
}
/* line 149, ../sass/views-styles.scss */
body.section-leaderboard .field-name-field-user-firstname, body.page-team-players .field-name-field-user-firstname, .page-points-in-campaign .field-name-field-user-firstname {
  display: inline-block;
}
/* line 154, ../sass/views-styles.scss */
body.section-leaderboard .field-name-field-user-surname, body.page-team-players .field-name-field-user-surname, .page-points-in-campaign .field-name-field-user-surname {
  display: inline-block;
  padding-left: 4px;
}
/* line 162, ../sass/views-styles.scss */
body.section-leaderboard td.views-field-field-user-firstname, body.page-team-players td.views-field-field-user-firstname, .page-points-in-campaign td.views-field-field-user-firstname {
  height: 16px;
  padding-left: 5px;
}
/* line 168, ../sass/views-styles.scss */
body.section-leaderboard td.points, body.page-team-players td.points, .page-points-in-campaign td.points {
  display: inline-block;
  height: 10px;
  position: relative;
  top: 7px;
}
/* line 176, ../sass/views-styles.scss */
body.section-leaderboard td.relations, body.page-team-players td.relations, .page-points-in-campaign td.relations {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 120px;
}
/* line 184, ../sass/views-styles.scss */
body.section-leaderboard th, body.page-team-players th, .page-points-in-campaign th {
  display: none;
}
/* line 189, ../sass/views-styles.scss */
body.section-leaderboard td.name, body.page-team-players td.name, .page-points-in-campaign td.name {
  display: none;
}
/* line 194, ../sass/views-styles.scss */
body.section-leaderboard td.uid, body.page-team-players td.uid, .page-points-in-campaign td.uid {
  display: none;
}
/* line 199, ../sass/views-styles.scss */
body.section-leaderboard tr.loggedInUser, body.page-team-players tr.loggedInUser, .page-points-in-campaign tr.loggedInUser {
  background-color: #ffffff;
  color: #000000;
}

/* line 206, ../sass/views-styles.scss */
.pager-next a, .pager-previous a {
  color: black;
}
