/**
 * @file
 * Views Styling
 */
@font-face {
  font-family: "Romina";
  src: url("../fonts/VSV-RominaSquared-Regular.ttf");
}

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 49, ../sass/views-styles.scss */
tr.team_red {
  background-color: #dc6058;
}
/* line 53, ../sass/views-styles.scss */
tr.team_red td.loggedInUser {
  color: #dc6058;
}

/* line 59, ../sass/views-styles.scss */
tr.team_blue {
  background-color: #79b1bd;
}
/* line 63, ../sass/views-styles.scss */
tr.team_blue td.loggedInUser {
  color: #79b1bd;
}

/* line 69, ../sass/views-styles.scss */
tr.loggedInUser {
  background-color: #ffffff;
}

/* line 74, ../sass/views-styles.scss */
.view-view-team-members-of-current-user {
  display: inline-block;
}

/* line 81, ../sass/views-styles.scss */
.page-leaderboard #content, .page-team-players #content, .page-points-in-campaign #content {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 87, ../sass/views-styles.scss */
.page-leaderboard #main, .page-team-players #main, .page-points-in-campaign #main {
  background-color: #eeeeee;
}
/* line 92, ../sass/views-styles.scss */
.page-leaderboard table, .page-team-players table, .page-points-in-campaign table {
  margin-top: 0px;
  width: 100%;
}
/* line 98, ../sass/views-styles.scss */
.page-leaderboard .view, .page-team-players .view, .page-points-in-campaign .view {
  width: 100%;
}
/* line 104, ../sass/views-styles.scss */
.page-leaderboard tr, .page-team-players tr, .page-points-in-campaign tr {
  height: 60px;
  color: #ffffff;
  border-bottom-width: 3px;
  border-bottom-color: #000000;
}
/* line 113, ../sass/views-styles.scss */
.page-leaderboard td, .page-team-players td, .page-points-in-campaign td {
  margin-bottom: 2px;
}
/* line 118, ../sass/views-styles.scss */
.page-leaderboard .views-field-field-user-team, .page-team-players .views-field-field-user-team, .page-points-in-campaign .views-field-field-user-team {
  display: none;
}
/* line 123, ../sass/views-styles.scss */
.page-leaderboard .views-field-name, .page-team-players .views-field-name, .page-points-in-campaign .views-field-name {
  display: none;
}
/* line 128, ../sass/views-styles.scss */
.page-leaderboard .views-field-php, .page-team-players .views-field-php, .page-points-in-campaign .views-field-php {
  font-family: Romina;
  font-size: x-large;
  padding-left: 10px;
}
/* line 135, ../sass/views-styles.scss */
.page-leaderboard .leaderboard_separator, .page-team-players .leaderboard_separator, .page-points-in-campaign .leaderboard_separator {
  height: 10px;
  background-color: black;
}
/* line 140, ../sass/views-styles.scss */
.page-leaderboard .leaderboard_separator td, .page-team-players .leaderboard_separator td, .page-points-in-campaign .leaderboard_separator td {
  width: 100%;
  height: 10px;
}
/* line 147, ../sass/views-styles.scss */
.page-leaderboard .field-name-field-user-firstname, .page-team-players .field-name-field-user-firstname, .page-points-in-campaign .field-name-field-user-firstname {
  display: inline-block;
}
/* line 152, ../sass/views-styles.scss */
.page-leaderboard .field-name-field-user-surname, .page-team-players .field-name-field-user-surname, .page-points-in-campaign .field-name-field-user-surname {
  display: inline-block;
  padding-left: 4px;
}
/* line 160, ../sass/views-styles.scss */
.page-leaderboard td.views-field-field-user-firstname, .page-team-players td.views-field-field-user-firstname, .page-points-in-campaign td.views-field-field-user-firstname {
  display: block;
  height: 10px;
  position: relative;
  top: 7px;
}
/* line 168, ../sass/views-styles.scss */
.page-leaderboard td.points, .page-team-players td.points, .page-points-in-campaign td.points {
  display: inline-block;
  height: 10px;
  position: relative;
  top: 7px;
}
/* line 176, ../sass/views-styles.scss */
.page-leaderboard td.relations, .page-team-players td.relations, .page-points-in-campaign td.relations {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 120px;
}
/* line 184, ../sass/views-styles.scss */
.page-leaderboard th, .page-team-players th, .page-points-in-campaign th {
  display: none;
}
/* line 189, ../sass/views-styles.scss */
.page-leaderboard td.name, .page-team-players td.name, .page-points-in-campaign td.name {
  display: none;
}
/* line 194, ../sass/views-styles.scss */
.page-leaderboard td.uid, .page-team-players td.uid, .page-points-in-campaign td.uid {
  display: none;
}
/* line 199, ../sass/views-styles.scss */
.page-leaderboard tr.loggedInUser, .page-team-players tr.loggedInUser, .page-points-in-campaign tr.loggedInUser {
  background-color: #ffffff;
  color: #000000;
}
