@import "base";

body.node-type-nodetype-event
{

  @media all and (max-width: $end_of_small_viewport)
  {
    #main
    {
      padding-left: 10px;
      .openlayers-container
      {
        padding-right: 20px;
        padding-left: 10px;
      }
      h1
      {
        background-color:$green-marking-color ;
        font-size:20px;
        margin-left: -10px;
        padding-top: 0px;
      }
    }
  }

  @media all and (min-width: $start_of_large_viewport)
  {
    background-color: $white-background-color;
  }

  #dialog
  {
    display: none;
  }

  .help
  {
    @include help-button;
    margin-top: -51px;
    margin-right: 0px;
  }

  p.submitted
  {
    display: none;
  }

  .submitted
  {
    .user-picture,
    {
      display:none;
    }
  }
  .submitted_by,
  {
    .username
    {
      display:none;
    }
  }

  .submitted_on
  {
    display:none;
  }


  h1
  {
    font-family: "Romina";
    padding-top:$pages-title-top-padding;
    text-align: center;
  }

  .field-type-datestamp
  {
    //text-align: center;
    font-size: 14px;
  }

  .field-name-field-event-team
  {
    display:none;
  }

  .field-name-field-event-address
  {
    font-size:large;
    margin-bottom:30px;
    line-height: 1.5em;

  }

  .field-name-field-event-date
  {
    margin-top:5px;
  }

  span.locality
  {
    //margin-left:-17px;
  }

  #block-views-event-content-type-map-block-1
  {
    margin-bottom: 10px;
    img
    {
      max-width: none;
    }
  }
}