@import "base";

.page-frontpage
{
  background-color: $white-background-color;

  .views-field-title {
    font-family: "Romina";
    text-align: center;
  }

  #content
  {
    a
    {
      color:$green-marking-color;
    }
  }

  @media all and (max-width: $end_of_small_viewport)
  {
    background-color: $team-blue-color;

    .views-row
    {
      display:none;
    }

  }

  .zwerm-frontpage-news {
    margin-top: 50px;
  }

  .zwermgent-frontpage-news-item {
    color: white;
    background-color: $green-marking-color;
    padding: 10px 10px 10px 10px;
    font-size: 1em;
    margin-bottom: 10px;

    .views-field-title {
      font-size: 1.4em;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }

    .field-name-body {
      font-size: 0.9em;
      p {
        padding: 0 0 0 0;
        margin: 5px 0 0 0;
      }
    }

    .views-field-created {
      text-align: right;
      font-size: 1em;
      font-family: "Romina";
    }


  }

}
