/**
 * @file
 * Geochallenges related styling
 */

@import "base";

.page-node.node-type-geo-challenge {
  .page-node.node-type-geo-challenge #page-title {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .page-node.node-type-geo-challenge .node-geo-challenge {
    margin: -10px 0 0 0;
    padding: 0 0 0 0;
  }

  #edit-submit{
    background-color: $green-marking-color;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 2px 0 30px 0;
    font-family: "Romina";
    font-size: 1.4em;
    height: 2em;
  }

  #edit-field-foto {
    background-color: $score-navbar-color;
    color: #FFFFFF;
    padding: 10px 10px;

    .description {
      display: none;
    }

    #edit-field-foto-und-0-upload-button {
      display: none;
    }

    .form-item {
      margin: 0 0 0 0;
    }
  }

  #edit-field-comment {
    padding: 10px 10px;
    background-color: $score-navbar-color;
    margin-bottom: 10px;
    color: #FFFFFF;

    .form-item {
      margin: 0 0 0 0;
    }
  }
}

.node-type-geo-challenge  .field-name-field-description {
  text-align: center;
}

.node-type-geo-challenge  .node-geo-challenge  {
  margin: 0 0 0 0;
}

.geochallenge-subtitle {
  text-align: center;
  font-family: Romina;
  font-size: 1.5em;
  margin: 5px 0 8px 0;
}

.field-name-field-description {
  font-size: 1.2em;
  margin: 0 0 10px 0;
  color: black;
}

.node-type-geo-challenge .view-poi-per-challenge {
  margin: 0 0 0 0;
}

.geochallenge-details, .geochallenge-confirmation-details {
  margin: 20px 0 0 0;
  padding: 10px 10px 10px 10px;
  background-color: $score-navbar-color;
  font-size: 0.8em;
  color: #ffffff;
  line-height: 1.4em;

  p {
    margin: 0 0 10px 0;
  }
}

.geochallenge-details {
  //display: none;
}

.geochallenge-add-poi-instructions {
  margin: 2px 0 0 0;
  padding: 15px 10px 5px 10px;
  background-color: $score-navbar-color;
  font-size: 0.8em;
  color: #ffffff;
  line-height: 1.4em;
  display: none;

  p {
    margin: 0 0 10px 0;
  }

  .control-icon {
    background-image: url("../images/openlayers-controls.png");
    background-position: -77px -1px;
    background-repeat: no-repeat;
    margin: 0 2px 0 2px;
    width: 24px;
    height: 22px;
    padding: 0 14px 7px 12px;
  }
}


.geochallenge-details-value {
  margin: 0 0 0 5px;
  font-weight: bold;
  font-family: Romina;
  font-size: 1.1em;
}

.geochallenge-add-poi {
  display: none;
}

.geochallenge-add-poi.button-pressed {
  a {
    cursor: text;
    span {
      background-image: none;
      padding: 0 0 0 0;
    }
  }
}

.geochallenge-add-poi a, .geochallenge-back-button a {
  display: block;
  background-color: $green-marking-color;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 2px 0 2px 0;
  font-family: Romina;
  font-size: 1.4em;
  color: #ffffff;

  span {
    background-image: url('../images/expand_icon.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 26px;
  }
}

.geochallenge-back-button {
  display: none;
}

#block-formblock-poi {
  margin-top: -24px;
}

.geochallenge-add-poi-mobile-scrollarea {
  display: none;
}
.section-kaart
  {
  #main
    {
    background-color: black;
  }
}

.views-exposed-form {
  background-color: $green-marking-color;
  padding: 5px 10px;
  color: white;
  border-bottom: 2px solid black;
  label {
    font-family: romina;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  #edit-field-ref-geo-challenge-target-id {
    width: 400px;
    background-color: $green-marking-color;
    color: white;
    border-color: white;
  }
  #edit-field-ref-geo-challenge-target-id:focus {
    border-color: white;
  }
}

@media all and (max-width: $end_of_small_viewport)
{
  #main {
    min-height: 460px;
  }

  .olControlPanZoomBar {
    display: none;
  }

  .openlayers-container {
    padding-right: 40px;
  }

  .openlayers-map {
    border-right: 2px solid black;
  }

  .field-widget-geofield-openlayers {
    background-color: $green-marking-color;
  }

  .geochallenge-add-poi-instructions {
    border-bottom: 2px solid white;
  }

  .views-exposed-form
    {
    #edit-field-ref-geo-challenge-target-id {
      width: 200px;
      background-color: $green-marking-color;
      color: white;
      border-color: white;
    }
  }
}

.geofield-help {
  display: none;
}

.geochallenge-confirmation-button-wrapper {
  margin: 2px 0 25px 0;
}

.geochallenge-buttons {
  width: 49%;
  text-align: center;
  padding: 8px 0;
  margin: 10px 0 25px 0;
}

.geochallenge-buttons a {
  font-family: Romina;
  font-size: 1.4em;
}

.geochallenge-confirm-poi {
  background-color: $green-marking-color;
  float: left;
}

.geochallenge-reject-poi {
  background-color: $team-red-color;
  float: right;
}

.rules-link-poi_confirm_accept {
  display: none;
}

.rules-link-poi_confirm_reject {
  display: none;
}

.page-kaart .olPopupCloseBox,
.section-geochallenges .olPopupCloseBox {
  //display: none;
  //padding
  background-image: url('../images/x.gif');
  //border: 1px solid white;
  margin: 4px 20px 0 0;
}

.section-geochallenges .view-poi-overview {
  margin: 15px 0 50px 0;
}

.page-kaart .view-poi-overview {
  margin: 0px 0 2px 0;
}

.page-kaart #popup_contentDiv,
.section-geochallenges #popup_contentDiv {
  background-color: $green-marking-color;
  color: white;
  padding: 8px 20px 0 5px;
  font-size: 0.9em;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.page-kaart #popup_GroupDiv {

  img {
    display: none;
  }

  .openlayers-tooltip-description img {
    display: inline;
    margin-top: 5px;
    border: 2px solid white;
  }

  .openlayers-tooltip-name {
    font-family: Romina;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.page-kaart #page-title {
  display: none;
}

.section-geochallenges #popup_GroupDiv {
  img {
    display: none;
  }

  .openlayers-tooltip-name {
    font-family: Romina;
    font-size: 1em;
    font-weight: bold;
  }

}

article.node-geo-challenge {
  padding: 0 0 0 0;
}


