@import "base";

.page-user.not-logged-in
{

   background-color:$footer-color;
   background-image : url(../images/zwerm_logo.png);
   background-size: 100%;
   background-repeat: no-repeat;

   h1,.form-required,.description, #header, #footer,  a[href*="register"],
   .active
   {
     display:none;
   }

   #user-login
   {
     margin-top: 166px;
     .form-item-name
     {
       position:relative;
       label
       {
         position:absolute;
         top:9px;
         left:7%;
         color:#aaa;
       }
     }
     .form-item-pass
     {
       position:relative;
       label
       {
         position:absolute;
         top:9px;
         left:7%;
         color:#aaa;
       }
     }

     input
     {
       border-radius: 4px;
       height: 35px;
       /*width: 90%;
       margin-left: 5%;
       margin-right: 5%;  */
     }

     .form-item
     {
       width: 90%;
       margin-left: 3%;
       margin-right: 5%;
     }
   }

   #edit-submit {
     background-color: $green-marking-color;
     color:white;
     border-radius: 4px;
     position: relative;
     top:40px;
   }

   #edit-actions
   {
     width:97%;
     margin-left: 3%;
   }

   a[href*="password"]
   {
     display:block;
     color:red;
     position: absolute;
     top: 320px;
     left: 7%;
   }

   .tabs
   {
     display:block;
     background-color: transparent;
     li
     {
       background-color: transparent;
       width:100%;
       a
       {
         text-align:left;
       }
     }
   }



}