@import "base";

.section-messages
{
  background-color: $white-background-color;
}

.page-messages
{
  #main
  {
    background-color: $white-background-color;
  }

  h1
  {
    display:none;
  }

  .action-links
  {
    li
    {
      list-style-type: none;
    }
    a
    {
      color:red;
      margin-left: -28px;

    }
  }

  th, td
  {
    a
    {
      color:black;
    }
  }

  tr.odd, tr.even
  {
    background-color:$white-background-color;
  }

  #content .tabs
  {
    li:nth-child(3),li:nth-child(4)
    {
      display:none;
    }
  }

  #edit-operation
  {
    display:none;
  }

  .privatemsg-list-subject
  {
    padding-left: 13px;
  }

  .container-inline, .form-type-checkbox,.form-checkbox
  {
    display: none;
  }

  .action-links {
    margin-top: 0px;
  }

  .privatemsg-unread td {
    font-weight: normal;
  }
}

.page-messages-new
{
  .description, #edit-cancel
  {
    display:none;
  }
}