@import "base";

.page-messages
{
  #main
  {
    background-color: $white-background-color;
  }

  h1
  {
    font-family: Romina;
    padding-top:$pages-title-top-padding;
    text-align: center;
  }

  .action-links
  {
    a
    {
      color:black;
    }
  }

  th, td
  {
    a
    {
      color:black;
    }
  }
}