@import "base";


@media all and (max-width: $end_of_small_viewport) {
  .page-get-points
  {
    background-color: #000000;
  }

  #content
  {
    padding-top: 0px;
    li
    {
      height:$li-height;
      background-color:white;
      margin-bottom: 3px;
    }
  }
}


@media all and (min-width: $start_of_large_viewport) {
  .page-get-points
  {
    background-color: #ffffff;
    #content
    {
      li
      {
        height:$li-height;
        background-color:white;
        //margin-bottom: 3px;
      }
    }
  }


}


.page-get-points
{

  #page-title
  {
    @include page-title;
  }

  #content
  {
    padding-left: 0px;
    padding-right: 0px;

    ul
    {
      border-top-style: none;
    }

    .list_header
    {
      padding-top: 16px;
      padding-left: 26px;
    }

    li.list_header_event, li.list_header_wish, li.list_header_question
    {
      background-color: $green-marking-color;
    }

    li:after
    {
      content:">";
      display:inline;
      float:right;
      padding-top:17px;
      padding-right:25px;
      font-size: large;
    }

    a
    {
      color:black;
      margin-left: 25px;
      margin-top: 10px;
    }

    #select_list
    {
      ul
      {
        margin-top:2px;
        white-space: nowrap;
      }
      a
      {
        line-height: 3.8em;
      }
    }

    #main-content
    {
      display: none;
    }
  }

  .link_truncated {
    text-overflow: ellipsis;
    display: inline-block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
  }


}