@import "base";

.node-type-poll
{
  .poll .vote-form .choices
  {
    margin:0;
  }

  .submitted
  {
    .user-picture,
    {
      display:none;
    }
  }
  .submitted_by,
  {
    .username
    {
      display:none;
    }
  }

  .submitted_on
  {
    display:none;
  }




  #main
  {
    .form-radio
    {
      width:5%;
    }
    .form-submit
    {
      width: 60%;
      margin-left: 20%;
      font-size: small;
    }
    .field-label
    {
      float:left;
      font-weight: normal;
    }
  }

  .node .poll {
    margin: 2em 0;
    width: 90%;
  }
  .node .poll #edit-choice {
    margin: 0 0 1.5em;
  }
  .poll .vote-form {
    text-align: left; /* LTR */
  }
  .poll .vote-form .choices {
    margin: 0;
  }
  .poll .percent {
    font-size: 0.857em;
    font-style: italic;
    margin-bottom: 3em;
    margin-top: -3.2em;
    margin-right: 10px;
    float: right;
    text-align: right;
  }
  .poll .text {
    clear: right;
    margin-right: 2.25em;
  }
  .poll .total {
    font-size: 0.929em;
    font-style: italic;
    text-align: right; /* LTR */
    clear: both;
    margin-right: 10px;
  }
  .node .poll {
    margin: 1.8em 0 0;
  }
  .node .poll .text {
    margin-right: 6.75em;
  }
  .node .poll #edit-choice {
    margin: 0 0 1.2em;
  }
  .poll .bar .foreground {
    height: 20px;
    margin-right: 10px;
    background-color: $green-marking-color;
  }
  #footer-wrapper .poll .bar {
    background-color: #666;
  }
  #footer-wrapper .poll .bar .foreground {
    background-color: #ddd;
  }

  #content .tabs, .field-name-field-poll-team
  {
    display: none;
  }

  //small viewport
  @media all and (max-width: $end_of_small_viewport)
  {
    article
    {
      margin-left: 5%;
    }
  }
}

