@import "base";

#score_nav_bar
{
  background-color: $footer-color;
  width:100%;

  li
  {
    font-size: x-small;
    background-color: $footer-color;
    padding-right: 1px;
    list-style-type: none;
    display:block;
    float:left;
    height:50px;
    width:30%;
    margin-left:3px;

    a
    {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width:99%;
    }

    a.active
    {
      color:white;
    }

  }


}

