@import "base";

.page-user
{
  .tabs, #select_list, h3, dl, #content .tabs
  {
    display: none;
  }

  a
  {
    color:black;
  }

  a.privatemsg-send-link
  {
   color: red;
  }

  .user-picture
  {
    float: left;
    padding-right: 10px;
  }

  .profile {
    margin-left: 4%;
  }

  .privatemsg-send-link.privatemsg-send-link-profile {
    display: inline-block;
  }

  .field.field-name-field-user-firstname.field-type-text.field-label-hidden {
    float: left;
    padding-right: 4px;
  }
}