@import "base";


.page-node-add-nodetype-wished-item
{
  .help
  {
    @include help-button;
    margin-top: -51px;
    margin-right: 0px;
  }
}
.node-type-nodetype-wished-item
{
  .help
  {
    @include help-button;
    margin-top: -123px;
    margin-right: 0px;
  }
}

.page-node-add-nodetype-wished-item,.node-type-nodetype-wished-item
{
  background-color: $white-background-color;

  #content .tabs
  {
    display:none;
  }

  .flag-message
  {
    font-size:0;
  }

  .help
  {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 43px;
    margin-right: 9px;
  }

  #dialog
  {
    display: none;
  }

  @media all and (max-width: $end_of_small_viewport)
  {
    #main
    {
      #content
      {
        margin-left: 2%;
        width: 94%;
        #edit-title
        {
          width: 94%;
        }
      }
      h1
      {
        font-size: 20px;
        background-color: $green-marking-color;
        margin-left: -10px;
        margin-right: -15px;
      }
    }
  }

  @media all and (min-width: $start_of_large_viewport)
  {
    //to make sure footer does not overlap submit button in new
    //wish form
    #edit-delete
    {
      margin-bottom: 58px;
    }

    .help
    {
      margin-top: 211px;
      margin-right: 19.5%;
      background-color: black;
      a
      {
        color:white;
      }
    }

  }

  //hide preview button
  #edit-preview-changes {
    display: none;
  }

  .node-nodetype-wished-item
  {
    li
    {
      //background-color:$green-marking-color;
      a
      {
        padding-left: 20px;
      }
    }

    header
    {
      //background-color: $green-marking-color;
      padding-left: 20px;
      //height: 100%
    }

    .user-picture {
      padding-right: 16px;
    }

    //theme the action links
    ul.inline
    {
      display:block;
      margin-bottom: 80px;
      li
      {
        display:inline;
        margin-bottom: 20px;
        margin-top: 10px;
        float: left;
        a
        {
          //color: black;
          @include action-button;
          padding:7px;
          margin-bottom: 5px;
          font-size: small;
        }
      }
    }

    .buttons
    {
      display:inline-block;
      margin-bottom: 10px;
    }

    .edit_wijkzoeker
    {
      display:block;
      margin-bottom: 80px;
      display:inline;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-left: 15px;
      float: left;
      a
      {
        @include action-button;
        padding:7px;
        margin-bottom: 5px;
        font-size: small;
      }
    }

    .set_as_fulfilled
    {
      display:block;
      margin-bottom: 80px;
      display:inline;
      margin-bottom: 20px;
      margin-top: 10px;
      float: left;
      a
      {
        @include action-button;
        padding:7px;
        margin-bottom: 5px;
        font-size: small;
      }
    }

    ul.inline.clearfix li
    {
      display:block;
      a
      {
        color: white;
      }
    }
  }

  .field-name-field-wisheditem-award
  {
    //margin-top: -23px;
    display: inline;
    .field-label
    {
      float:left;
    }
  }

  .user-picture {
    display: inline;
    float: left;
  }

  .field-edit-link
  {
    display:none;
  }

  .filter-wrapper
  {
    display: none;
  }

  .wysiwyg-toggle-wrapper
  {
    display: none;
  }

  #edit-preview
  {
    display: none;
  }

  .username
  {
    color:black;
  }

  #edit-body {
    width: 101%;
  }

  .form-field-name-field-wisheditem-image
  {
    display: none;
  }


}