@import "base";

.page-node-add-nodetype-wished-item,.node-type-nodetype-wished-item
{
  background-color: $white-background-color;

  @media all and (max-width: $end_of_small_viewport)
  {
    #main
    {
      #content
      {
        margin-left: 2%;
        width: 94%;
        #edit-title
        {
          width: 94%;
        }
      }
    }
  }

  .field-edit-link
  {
    display:none;
  }

  .filter-wrapper
  {
    display: none;
  }

  .wysiwyg-toggle-wrapper
  {
    display: none;
  }

  #edit-preview
  {
    display: none;
  }

  .username
  {
    color:black;
  }

  #edit-body {
    width: 101%;
  }

  .form-field-name-field-wisheditem-image
  {
    display: none;
  }
}